:root {
  --mainBG: #0a0a0a;
  --mainText: #fdfdfdd1;
  --primary: #181818;
  --secondary: #242424;
  --danger: #fd0606;
  --alert: #ffea00;
  --scroll-bg: #ffffff00;
  --scroll-toggle: #3b3b3b;
  --spotify-green: #3be275;
  font-family: roboto, noto-naskh, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: var(--mainBG);
  color: var(--mainText);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --mainBG: #ffffff;
    --mainText: #0f0f0fd1;
    --primary: #d6d6d6;
    --secondary: #a1a1a1;
    --scroll-bg: #ffffff00;
    --scroll-toggle: #7e7e7e;
    --spotify-green: #19cc58;
  }
}

/* start global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: clamp(1px, calc(100vw - 1rem), 1200px);
  margin: auto;
}
#root {
  display: flex;
  justify-content: space-between;
}
main {
  position: relative;
  width: calc(100% - calc(2.1rem + 48px));
  height: calc(100vh - 1rem);
  margin-top: 0.5rem;
  border-radius: 10px;
  background: var(--primary);
  overflow: hidden;
}
a {
  color: var(--mainText);
  text-decoration: none;
  transition: opacity 0.3s linear;
}
/*! edit scroll bar */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--scroll-bg);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--scroll-bg);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--scroll-bg);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scroll-toggle);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-toggle);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-toggle);
}

/* end global style */

/* start sidebar */
.sidebar {
  width: calc(1.6rem + 48px);
  min-height: 100vh;
  margin-right: 0.5rem;
}
.sidebar-box {
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 10px;
  background: var(--primary);
  /* sidebar icons */
  svg {
    color: var(--mainText) !important;
    font-size: 38px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar-loading {
  padding: 1rem;
  /* loading icon */
  svg {
    animation: spin 4s infinite linear;
  }
}
.sidebar-error {
  padding: 1rem;
  /* error icon */
  svg {
    color: var(--danger) !important;
  }
}
.artists {
  height: calc(100vh - calc(3rem + 96px));
  overflow-y: scroll;
}
/*! edit sidebar scroll bar */
.artists::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.sidebar-btn {
  margin: 0.2rem 0.4rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s linear;
  &:hover {
    background: var(--secondary);
  }
}
.artist-image {
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  img {
    width: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* end sidebar */

/* start home */
/*! app.jsx */
.home {
  width: 100%;
  height: 100%;
  text-align: center;
}
.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--spotify-green);
  padding: 2rem 0;
  svg {
    font-size: 6rem;
  }
  h1 {
    font-size: 3rem;
  }
}
.home-text {
  font-size: 1.3rem;
  margin: auto;
  text-transform: capitalize;
  a {
    color: var(--spotify-green);
  }
}
/* start home */

/* start artist profile */
.banner {
  width: 100%;
  height: 320px;
  display: flex;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  box-shadow: 0px 13px 59px 16px var(--secondary);
}
.banner-image {
  position: relative;
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 50%;
  img {
    width: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.banner-loading {
  background: var(--secondary);
  background: linear-gradient(315deg, var(--secondary), var(--primary));
}
.banner-text {
  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  h1 {
    padding: 1.2rem 0;
    svg {
      display: none;
    }
  }
  svg {
    font-size: 1.6rem;
    color: #4cb3ff;
  }
}
.tracks-table {
  height: calc(calc(100vh - 1rem) - 320px);
  overflow-y: scroll;
  padding: 1.4rem 0.5rem;
}
.track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    p {
      width: 30px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
.track:hover {
  background: var(--secondary);
}
.show-more {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: opacity 0.4s linear;
  &:hover {
    opacity: 70%;
  }
}
/* end artist profile */

/* start loading */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end loading */

/* access token */
.error {
  margin: 3rem auto;
  width: fit-content;
  text-align: center;
  svg {
    font-size: 5em;
    color: var(--alert);
  }
  h3 {
    color: var(--danger);
  }
  p {
    color: var(--spotify-green);
  }
}
