:root {
  --mainBG: #0a0a0a;
  --mainText: #fdfdfdd1;
  --primary: #181818;
  --secondary: #242424;

  font-family: roboto, noto-naskh, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: var(--mainBG);
  color: var(--mainText);
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}

/* start global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: clamp(1px, calc(100vw - 1rem), 1200px);
  margin: auto;
}
/* end global style */

#root {
  display: flex;
  justify-content: space-between;
}
main {
  background: red;
  width: calc(100% - calc(2.1rem + 48px));
  height: calc(100vh - 1rem);
  margin-top: 0.5rem;
  border-radius: 10px;
  background: var(--primary);
  overflow: hidden;
}

/* start sidebar */
.sidebar {
  width: calc(1.6rem + 48px);
  min-height: 100vh;
  background: transparent;
  margin-right: 0.5rem;
}
.sidebar-box {
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 10px;
  background: var(--primary);

  svg {
    color: var(--mainText) !important;
    font-size: 38px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar-loading {
  padding: 1rem;
  svg {
    animation: spin 4s infinite linear;
  }
}
.sidebar-error {
  padding: 1rem;
  svg {
    color: red !important;
  }
}
.artists {
  height: calc(100vh - calc(3rem + 96px));
}
.sidebar-btn {
  margin: 0.2rem 0.4rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s linear;
  &:hover {
    background: var(--secondary);
  }
}
.artist-image {
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  img {
    width: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* end sidebar */

/* start artist profile */
.artist-profile {
}
.banner {
  width: 100%;
  height: 320px;
  display: flex;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
}
.banner-image {
  position: relative;
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 50%;
  img {
    width: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.banner-loading {
  background: rgb(107, 107, 107);
  background: linear-gradient(315deg, rgba(107, 107, 107, 1) 0%, rgba(31, 31, 31, 1) 100%);
}
.banner-text {
  span {
    display: flex;
    align-items: center;
    gap: 5px;
    svg {
      font-size: 1.6rem;
      color: #4cb3ff;
    }
  }
  h1 {
    padding: 1.2rem 0;
  }
}
.tracks-table {
  height: calc(calc(100vh - 1rem) - 320px);
  overflow-y: scroll;
  padding: 1.4rem .5rem;
}
.track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    p{
      width: 30px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
.track:hover{
  background: var(--secondary);
}
/* end artist profile */
